# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build

# Ignore macOS specific files
.DS_Store

# Ignore resources used for testing
resources

# Ignore miscellanous directories
.settings

# Ignore other miscellaneous files
.classpath
.project